<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="Services.CalculatorImpl">
        <endpoint address="net.tcp://localhost:8081/calculator"
                  binding="netTcpBinding"
                  contract="Contracts.ICalculator" />
      </service>
    </services>
  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>